<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Movie Closet</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <!-- routerLink="/hollywood"   ADD THIS LATER WHEN YOU ARE READY FOR THE MONGODB  -->
        <li routerLinkActive="active"> <a >Hollywood</a></li>
        <!-- routerLink="/bollywood" -->
        <li routerLinkActive="active"> <a >Bollywood</a></li>
        <!-- routerLink="/kollywood" -->
        <li routerLinkActive="active"> <a >Kollywood</a></li>
        <!-- <li routerLinkActive="active"> <a routerLink="/contacts">Add-Movies</a></li> -->
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" cmsDropdown>
          <a href="#" class="dropdown-toggle" role="button">User<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul> -->
    </div>
  </div>
</nav>
